header {
  nav {
    margin-left: auto;
    margin-top: 2vh;
    width: fit-content;
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      list-style-type: none;
      li {
        a {
          color: $nav-text-color;
          padding: 0.5em 1em;
          text-decoration: none;
        }
      }
    }
  }
}